{% extends "base.html" %}
{% block start %}

<div class="container mt-5">
    <form class="col-6 mx-auto p-5 card" method="POST">
      {% csrf_token %}
        <h1 class="col-6 mx-auto text-center">Add Recipe</h1>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Recipe Name</label>
          <input type="text" name="recipe_name" class="form-control">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Recipe Description</label>
          <textarea name="recipe_description" id="" class="form-control"></textarea>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Recipe Image</label>
          <input type="file" name="recipe_image" class="form-control">
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
</div>

{% endblock %}